@import '../../assets/style/custom';

.sign-in-btn {
  width: 240px;
  height: 50px;
  border: 0.2px solid $blue-800;
  border-radius: 5px;
  padding: {
    left: 0.5rem;
    right: 0.5rem;
  }
  &:hover {
    cursor: pointer;
    box-shadow: $box-shadow;
  }
  .sign-in-logo {
    font-size: 22px;
  }
}
