@import '../../assets/style/custom';

.container-home {
  position: relative;
  z-index: 1;
  width: 100%;
  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../assets/images/bg-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: $border-radius;
  }
  .info-app {
    padding: {
      top: 3px;
      left: 15px;
      right: 15px;
    }
  }
  .info-link {
    width: fit-content;
    border-radius: $border-radius;
    &:hover {
      background-color: #90c9f128;
      box-shadow: $box-shadow;
      transform: scale(1.03);
    }
  }
}
