@import '../../assets/style/custom';
.alert-box {
  height: 60px;
  .alert-message-box {
    box-shadow: $box-shadow;
  }
}

.container-center {
  .spinner-border.minor-loading {
    background-image: $bg-gradient-main;
    border-right-color: unset;
    width: 25px;
    height: 25px;
    color: $info;
    animation: 0.4s linear infinite spinner-border;
  }
}
