body {
  min-width: 340px;
  color: $blue-800;
  button {
    height: $btn-height;
    padding: {
      left: 20px;
      right: 20px;
    }
  }
  a,
  a:link,
  a:visited {
    text-decoration: none;
    color: $dark;
  }
  .container-header {
    @include bg-header;
    border: {
      bottom: solid 2px $blue-800;
    }
  }
  main {
    padding: {
      top: 0.5rem;
      bottom: 0.5rem;
    }
    section {
      border: {
        left: $blue-800 solid 3px;
      }
      padding: {
        left: 1rem;
      }
      h1 {
        text-shadow: $text-shadow;
        margin-bottom: 20px;
      }
    }
    .section-main {
      margin: {
        left: 20px;
        right: 18px;
      }
    }
  }
  .container-footer {
    @include bg-footer;
    border: {
      top: solid 2px $blue-800;
    }
    margin: {
      top: 1rem;
    }
  }
}

/*Containers*/
.container-main {
  background-image: $bg-gradient-main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container-top {
  height: 65px;
}

.container-center {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 50vh;
  margin-bottom: auto;
  padding-top: 20px;
}
