/*Bootstrap variables*/
$primary: #4765b9;
$dark: #052c65;
$border-width: 2px;
$border-radius: 20px;
$input-group-addon-bg: #90c8f1;

/*Custom variables*/
$gradient-start: #6f6cf5;
$gradient-end: #90c8f1;
$bg-gradient-main: linear-gradient(
  119.36deg,
  $gradient-end 0%,
  $gradient-start 100%
);
$btn-height: 45px;
$box-shadow: #00000033 2px 2px 2px 1px;
$text-shadow: #000000ff 1px 1px 1px;
$transition-short: all 0.1s 0.2s linear;

/*Custom mixin*/
@mixin bg-header() {
  background-color: $gradient-start;
  background-image: linear-gradient(
    90deg,
    $gradient-start 0%,
    $gradient-end 100%
  );
}

@mixin bg-footer() {
  background-color: $gradient-end;
  background-image: linear-gradient(
    90deg,
    $gradient-end 0%,
    $gradient-start 32%
  );
}

@import '~bootstrap/scss/bootstrap';
